{
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint"
    ],
    "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": 6,
        "ecmaFeatures": {
            "modules": true
        }
    },
    "rules": {
        "semi": [
            "error",
            "never"
        ],
        "quotes": [
            2,
            "single"
        ],
        "no-multiple-empty-lines": "error"
    }
}